#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
}

ul {
  margin: 0;
  padding-left: 20px;
}

[contentEditable=true]:empty:not(:focus)::before {
  content: attr(data-text);
}

[contentEditable=true]:empty:focus::before {
  content: "";
}

.modal {
  background: #fafafa;
  border-radius: 0.5rem;
  box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px,
    rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;
  display: none;
  max-width: 200px;
  position: absolute;
  width: 100%;
}

.modal-wrapper {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}

.select-item--image__wrapper,
.select-item {
  cursor: pointer;
  padding: 5px 20px;
}

.select-item--image__wrapper:hover,
.select-item:hover {
  background: #E9F2F8;
}

.show {
  display: block !important;
}

.content-wrapper {
  margin: 50px auto;
  max-width: 1000px;
}

.table-title,
.block:focus-visible {
  outline: none;
}

.block.block-table:focus-visible {
  outline: 1px solid blue;
}

p {
  margin: 0;
}

[type="checkbox"] {
  cursor: pointer;
}

.checkbox-layout {
  display: flex;
  flex-direction: row;
}

.block-checkbox-span {
  display: flex;
  width: 100%;
}

.block-checkbox-span.checked {
  text-decoration-line: line-through;
}

.block-table {
  position: relative;
}

table {
  border-collapse: collapse;
  margin-bottom: 40px;
}

.block-table-remove-row-btn,
.block-table-add-row-btn {
  bottom: -20px;
  cursor: pointer;
  position: absolute;
}

.block-table-remove-row-btn {
  left: 20px;
}

.block-table-remove-column-btn,
.block-table-add-column-btn {
  cursor: pointer;
  position: absolute;
  right: -20px;
  bottom: 0;
}

.block-table-remove-column-btn {
  bottom: 20px;
}

.block-table-remove-table-btn {
  cursor: pointer;
  position: absolute;
  right: -20px;
  top: 0;
}

td, th {
  border: 1px solid #dddddd;
  height: 20px;
  padding: 8px;
  text-align: left;
  width: 100px;
}

.block-image {
  position: relative;
  width: fit-content;
}

.block-image-btn {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
}

.select-item--image__wrapper {
  cursor: pointer;
}

img {
  width: 400px;
}

.video-link-pop-up {
  bottom: 0;
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
}

.video-link-backdrop {
  background: #000;
  height: 100%;
  opacity: .6;
  position: absolute;
  top: 0;
  width: 100%;
}

.video-link-content {
  background-color: #fff;
  border-radius: 12px;
  left: 50%;
  padding: 30px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
}

.video-link-title {
  margin: 0;
  padding-bottom: 15px;
}

.video-link-desc {
  padding-bottom: 10px;
}

.block-video {
  position: relative;
  width: fit-content;
}

.block-video-close {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
}

.no-margin {
  margin: 0;
}

.header-wrapper {
  align-items: center;
  display: flex;
  padding-bottom: 15px;
}

.nav-wrapper {
  margin-left: 50px;
}

.btn-sort,
.btn-filter {
  cursor: pointer;
}

.btn-filter {
  margin-right: 10px;
}

.table-control {
  background: #f0f0f0;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  width: 450px;
  z-index: 9;
}

.table-control-backdrop {
  background: #000;
  height: 100%;
  opacity: .6;
  position: fixed;
  top: 0;
  width: 100%;
}

.table-control__header {
  display: flex;
}

.dropdown-wrapper {
  display: flex;
  margin-top: 50px;
}

.dropdown-type {
  margin-left: 15px;
}

.dropdown-col-btn,
.dropdown-type-btn {
  cursor: pointer;
}

.dropdown-type-content,
.dropdown-col-content,
.table-control-wrapper {
  display: none;
}

.dropdown-col-item {
  cursor: pointer;
  padding: 5px;
}

.dropdown-col-content {
  background-color: #fff;
  border-radius: 12px;
  padding: 10px;
}

.froala-editor--1,
.froala-editor--2 {
  display: none;
}

.cursor-pointer {
  cursor: pointer;
}

.froala-editor__wrapper {
  padding-bottom: 40px;
  position: relative;
}

.add-froala__btn {
  left: -40px;
  position: absolute;
}

/* .example-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}*/

#myGrid,
#myGrid-2 {
  margin-bottom: 40px;
} 
